:root {
  --branco-principal: #ffffff;
  --cinza-secundaria: #c0c0c0c0;
  --botao-azul: #167bf7;
  --cor-fundo: #00030c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-fundo);
  color: var(--branco-principal);
}

.principal {
  background-image: url(./Assets/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 0 6em;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 8px;
  padding: 16px;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 16px;
  color: var(--branco-principal);
  display: block;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.container__aviso {
  color: #c0c0c0;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.titulopagina {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.combo {
  margin: 1em 0 2em 0;
}

.container__secundaria {
  margin-top: 110px;
  margin-left: 165px;
  align-items: center;
  display: flex;
}

.secundaria_imagem {
  align-items: center;
}

.container__secundaria__box {
  margin-left: 69px;
  margin-right: 120px;
}

.container_sec {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.texto_sec {
  color: #f9f9f9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  opacity: 0.800000011920929;
}

.container__terciaria {
  margin-top: 75px;
  margin-right: 166px;
  display: flex;
  align-items: center;
  padding: 76px;
}

.terciaria__box1 {
  padding: 70px;
  display: flexbox;
}
.terciaria__text {
  color: #f9f9f9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  opacity: 0.800000011920929;
  gap: 16px;
}

.terc_button {
  margin-top: 16px;
  display: flex;
  width: 140px;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  background: #167bf7;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.container__quarta {
  margin-top: 110px;
  margin-left: 165px;
  align-items: center;
  display: flex;
}

.quarta_imagem {
  align-items: center;
}

.container__quarta__box {
  margin-left: 69px;
  margin-right: 120px;
}

.container__quarta__text {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.texto_quart {
  color: #f9f9f9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  opacity: 0.800000011920929;
}

.container_quinto {
  margin-top: 260px;
  justify-content: center;
  text-align: center;
}

.container__quinto_box {
  align-items: center;
  gap: 40px;
}
.dispositivos {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}

.titulo_quinto {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.container__footer {
  margin-top: 260px;
  margin-bottom: 99px;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: center;
  text-align: center;
}

.logo__footer {
  padding: 40px;
}

.mapa_do_site {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  gap: 16px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-decoration: none;
  text-decoration: #c0c0c0;
}

.copright,
.dadosinstitucionais {
  color: #c0c0c0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.copright {
  margin-top: 24px;
  margin-bottom: 24px;
}
